<div class="menu">
  <div class="left">
    <%= link_to "Команды", root_path %>
  </div>
  <div class="right">
    <% if profile_signed_in? %>
      Вы вошли как: <%= link_to current_profile.nickname, profile_path(current_profile.id) %>
    <%= link_to 'Выйти', destroy_profile_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Войти', new_profile_session_path %>
  <% end %>
  </div>
</div>
