a
  color: #0475a7
  padding-right: 7px
  text-decoration: none

  &:hover
    color: #28b9fa

  &:active
    color: #022f43

.menu
  display: inline-block
  padding: 20px
  background-color: #ccc
  width: 95%

  .left
    float: left
    a
      border-right: 1px solid #424242
      line-height: 1

      &:last-child
        border-right: 0px

  .right
    float: right


.content
  .body
    margin: 10px

  width: 90%
  padding: 50px

.clearfix
  clear: both

.wrapper
  margin-top: 5%
  padding-left: 10%
  padding-right: 10%
  width: 80%

