.sign_in-form
  width: 40%
  margin-top: 5%
  margin-left: 30%
  margin-right: 30%

.sign_in-links
  float: right

.sign_up-wrapper
  width: 40%
  margin-top: 5%
  margin-left: 30%
  margin-right: 30%

